In [1]:
# Importing modules

import pandas as pd # for data wrangling
import seaborn as sns # for plotting
import matplotlib.pyplot as plt # for plotting
import missingno as msno # for visualizing missing values in data
import numpy as np # for array computations

plt.style.use('ggplot') # setting style for matplotlib

In [4]:
ls

problem_data.csv  train_submissions.csv  user_data.csv

In [5]:
#importing datasets. 3 training files
problem_df = pd.read_csv("problem_data.csv")
user_df = pd.read_csv("user_data.csv")
submissions_df = pd.read_csv("train_submissions.csv")

In [6]:
problem_df.head()

  problem_id level_type  points                                 tags
0  prob_3649          H     NaN                                  NaN
1  prob_6191          A     NaN                                  NaN
2  prob_2020          F     NaN                                  NaN
3   prob_313          A   500.0                greedy,implementation
4   prob_101          A   500.0  constructive algorithms,greedy,math

In [19]:
user_df.head()

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_3311,47,40,0,NaN,4,1504111645,348.337,330.849,intermediate,1466686436
1,user_3028,63,52,0,India,17,1498998165,405.677,339.450,intermediate,1441893325
2,user_2268,226,203,-8,Egypt,24,1505566052,307.339,284.404,beginner,1454267603
3,user_480,611,490,1,Ukraine,94,1505257499,525.803,471.330,advanced,1350720417
4,user_650,504,479,12,Russia,4,1496613433,548.739,486.525,advanced,1395560498

In [21]:
user_df['user_id'==232]

KeyError: False

In [8]:
submissions_df.head()

     user_id problem_id  attempts_range
0   user_232  prob_6507               1
1  user_3568  prob_2994               3
2  user_1600  prob_5071               1
3  user_2256   prob_703               1
4  user_2321   prob_356               1

In [10]:
# attempting to merge user_df on basis of user_id into submissions_df

sub_user_merge = pd.merge(submissions_df, user_df, on='user_id', how='outer')

In [11]:
sub_user_merge.head()

,user_id,problem_id,attempts_range,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,user_232,prob_6507,1.0,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
1,user_232,prob_5781,1.0,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
2,user_232,prob_137,2.0,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
3,user_232,prob_1550,2.0,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
4,user_232,prob_1322,3.0,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935

In [12]:
# attempting to merge sub_user_merge with problem_df on basis of prolem_id

final_merge = pd.merge(sub_user_merge, problem_df, on='problem_id', how='outer')

In [27]:
# removing if nan in user_id or problem_id

final_merge = final_merge[pd.notnull(final_merge['user_id'])]
final_merge = final_merge[pd.notnull(final_merge['problem_id'])]

In [28]:
final_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 155295 entries, 0 to 155294
Data columns (total 16 columns):
user_id                      155295 non-null object
problem_id                   155295 non-null object
attempts_range               155295 non-null float64
submission_count             155295 non-null float64
problem_solved               155295 non-null float64
contribution                 155295 non-null float64
country                      117442 non-null object
follower_count               155295 non-null float64
last_online_time_seconds     155295 non-null float64
max_rating                   155295 non-null float64
rating                       155295 non-null float64
rank                         155295 non-null object
registration_time_seconds    155295 non-null float64
level_type                   154675 non-null object
points                       126220 non-null float64
tags                         139868 non-null object
dtypes: float64(10), object(6)
memory usage: 20.1+ MB

In [29]:
# saving this datframe

final_merge.to_csv("merged_dataset")